[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=tab
tab_width=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=tab
tab_width=2

[{*.jhm,*.rng,*.wsdl,*.fxml,*.pom,*.xslt,*.jrxml,*.ant,*.svg,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.xml}]
indent_style=tab
tab_width=2

[*.java]
indent_style=tab
tab_width=2

[*.css]
indent_style=space
indent_size=4

[{*.applejs,*.js}]
indent_style=tab
tab_width=2

[{*.gradle,*.groovy,*.gant,*.gdsl,*.gy}]
indent_style=tab
tab_width=2

[{*.kts,*.kt}]
indent_style=tab
tab_width=2

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

