*.class
*~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package & Target Files #
*.war
*.ear
*.db

# Debug & Demo21 Output #
*.log
*.xml

# Image Files #
*.png
*.jpg
*.gif
*.bmp

# Audio Files #
*.wav
*.mid
*.mp3

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
out/
tres/
/bin/
settings.properties
dokka.jar
lib/
test.txt
sample/
.gradle/
build/
test.properties
.idea/
test/org/frice/game/demo/
save.txt