*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package & Target Files #
#*.jar
*.war
*.ear
*.db

# Debug & Demo21 Output #
*.log
*.xml

# Image Files #
*.png
*.jpg
*.gif
*.bmp

# Audio Files #
*.wav
*.mid
*.mp3

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/copyright/
.idea/modules/lib/
out/
tres/
/bin/
Fuck.properties
settings.properties
dokka.jar
lib/
test.txt
sample/
src/org/frice/game/utils/web/HTMLUtils.kt~
test/org/frice/game/Java.java~
